In [1]:
!export PATH=/usr/lib/jvm/java-8-openjdk-amd64/jre/bin:/u3/cs451/packages/spark/bin:/u3/cs451/packages/hadoop/bin:/u3/cs451/packages/maven/bin:/u3/cs451/packages/scala/bin:$PATH
!export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre

In [2]:
import findspark
findspark.init("/u/cs451/packages/spark")

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style="darkgrid")

from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark.sparkContext)

import html

In [4]:
business_df = spark.read.parquet("Data/yelp_business.parquet")

business_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- business_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: long (nullable = true)
 |-- categories: string (nullable = true)

In [5]:
review_df = spark.read.parquet("Data/review_train.parquet")

review_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_date: string (nullable = true)
 |-- review_text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- funny: long (nullable = true)
 |-- cool: long (nullable = true)

In [6]:
user_df = spark.read.parquet("Data/yelp_users.parquet")

user_df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- fans: long (nullable = true)
 |-- average_stars: double (nullable = true)

In [7]:
# Split the friends_id on comma and create new record for every user_id - friend id pair
# df = friends_df.toPandas()
# df_2 = pd.concat([pd.Series(row['user_id'], row['friend_id'].split(','))              
#                     for _, row in df.iterrows()]).reset_index()
# df_2.columns = ["friends","user_id"]
# df_2 = df_2[["user_id","friends"]]

# pd.io.parquet.get_engine('auto')
# df_2.to_parquet("Data/yelp_friend.parquet")

In [8]:
friends_df = spark.read.parquet("Data/yelp_friends.parquet")
friends_df = friends_df.select(col("user_id"),trim(col("friends")))
friends_df = friends_df.withColumnRenamed("trim(friends)","friends")
friends_df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- friends: string (nullable = true)

In [9]:
business_df.createOrReplaceTempView("business")
user_df.createOrReplaceTempView("user")
review_df.createOrReplaceTempView("review")
friends_df.createOrReplaceTempView("friends")

In [10]:
# new_user_df = spark.read.parquet("Data/users.parquet")
# new_user_df.printSchema()
# new_user_df.createOrReplaceTempView("new_user")
# q = """select user_id, friends from new_user where user_id = 'uxKSnOVAoEj4I6X9YhLBlg' """
# ans = sqlContext.sql(q)
# df_q = ans.toPandas()
# print(df_q.iloc[0,1])

In [11]:
# u_id = 'uxKSnOVAoEj4I6X9YhLBlg'

# q = """select user_id, trim(friends) as friends from friends where user_id = 'uxKSnOVAoEj4I6X9YhLBlg' """

# ans = sqlContext.sql(q)
# # ans = ans.select(col("user_id") ,trim(col("friend_id")))
# ans.show(10)

In [12]:
u_id = 'om5ZiponkpRqUNa3pVPiRg'

query = """
select business_id, count(*) as 4_5_stars_count 
from review
where user_id in
    (select trim(f.friends) from friends f
    inner join user u on trim(f.friends)= u.user_id
    where f.user_id = "{}") 
and stars >= 4
and business_id not in (select business_id from review where user_id = "{}")
group by business_id
order by count(*) desc limit 100
""".format(u_id, u_id)

friend_recoms_df = sqlContext.sql(query)

friend_recoms_df.toPandas()

               business_id  4_5_stars_count
0   nT16Y6AsJDwEpUB1JICKzg               20
1   dc3uoAmNo5STqKV6mlD_aA               14
2   JmZj7wzAJ7_4ksjG9WXdqw               13
3   pfpOi3Q-Yap72z2bLKdWPQ               12
4   nu-DHeDtxnOW5vYj93dGPQ                8
5   JMiaNitMzMbJm6Kh0RbT5A                8
6   mG71gQ5HWl7ut9OCN6NJKA                8
7   pZ1quwXnYozLIZIVABojhw                8
8   K6XIGkyk7-fuOQtA8i7p6A                8
9   N93EYZy9R0sdlEvubu94ig                8
10  -chGaXHZsoLKLHPJMMsdmw                8
11  sRirP65Q7BSg3Lj9FdkKWQ                7
12  UDk7qUVIetK3Y3NuARguqg                7
13  O-uIEuv7JLUHajkemx_sVw                7
14  gtcsOodbmk4E0TulYHnlHA                7
15  5r6-G9C4YLbC7Ziz57l3rQ                7
16  RtUvSWO_UZ8V3Wpj0n077w                7
17  aLcFhMe6DDJ430zelCpd2A                6
18  7gnYWanhD6O7qOF-NfPNhA                6
19  28adZ4lsuUeVB2aWzohK9g                6
20  k6zmSLmYAquCpJGKNnTgSQ                6
21  nqTvE7ivdU23oUWdI01tOA                6
22  qaNt4vtVdge_S68DVjw5Jg                6
23  3qTSOuJ-ZyU1L7o62KHSIg                6
24  O1TvPrgkK2bUo5O5aSZ7lw                6
25  7oEKIG7d1ttPRejppZ3WIA                6
26  oWTn2IzrprsRkPfULtjZtQ                6
27  h_4dPV9M9aYaBliH1Eoeeg                6
28  nHFJtud7jWZhM9dHQ1eIRA                6
29  DizSoX0FqH_EvXSHW6wEIQ                6
..                     ...              ...
70  d6G0w_e3GaA90NSQeovShA                4
71  cQK9M2JAwETQnnBoYyua5A                4
72  GqSA5t_OD1uxDZMwVLpoXA                4
73  KVpvE6pOPM9KMvak4HFsNg                4
74  qjYhAxibnS2M5IybPd5Yfw                4
75  Hc7tNpMVe-SIsLaUbNvtTw                4
76  ttuEwktrkmh3TUlSFPZqAA                4
77  XxXJat55Oep1BMzQ9yJJhQ                4
78  qEneEkjgJp8pLty7dIy_YA                4
79  mr3rQcYBKWu2L6o7qtQ9Wg                4
80  cVlW0omVTRaVJqnT-OBBsQ                4
81  OIdOJaNS8M624F58XGV3PQ                4
82  4_EgrMY-EI-i-xyWixI2qg                4
83  BxCzy1WOVxOrr_G7V4BIvg                3
84  YWd0I1BxSzFG61lSyC3IyQ                3
85  A-7Ye-fovEITMB0aUuEJ0g                3
86  V9DPZmn2irq3hC-X4vxaBg                3
87  leMIHa6TogufHv5HNYjnfw                3
88  y-Iw6dZflNix4BdwIyTNGA                3
89  oJSa5HCiZXKLXxggQmecEQ                3
90  RYGTF_2UlcdwDYZqL8duQQ                3
91  Dgzrb9DTWozUcYOe4L9_FQ                3
92  6ALBeke4yZcCorqLMvpFoA                3
93  W5d8iNog90R-qw43m5dGwg                3
94  j29tuUdrfaxmGjwxHdHZPA                3
95  6I27BTuHI5PMvOBG4WS8NQ                3
96  gbjIwB_r6y4YhaZMwEK6mw                3
97  Q2ZNaN3p8s_-XXjBWyY2qA                3
98  f51YniULra1Fz01jwILh8Q                3
99  o6Yor6ofIw2TqM3mN28Kzg                3

[100 rows x 2 columns]

In [13]:
friend_recoms_df = friend_recoms_df.sample(False, 0.5).limit(10)
friend_recoms_df.toPandas()

              business_id  4_5_stars_count
0  dc3uoAmNo5STqKV6mlD_aA               14
1  N93EYZy9R0sdlEvubu94ig                8
2  pZ1quwXnYozLIZIVABojhw                8
3  nu-DHeDtxnOW5vYj93dGPQ                8
4  K6XIGkyk7-fuOQtA8i7p6A                8
5  RtUvSWO_UZ8V3Wpj0n077w                7
6  5r6-G9C4YLbC7Ziz57l3rQ                7
7  O-uIEuv7JLUHajkemx_sVw                7
8  3qTSOuJ-ZyU1L7o62KHSIg                6
9  qaNt4vtVdge_S68DVjw5Jg                6

In [14]:
def getBusinessDetails(in_bus):
    
    a = in_bus.alias("a")
    b = business_df.alias("b")
    
    return a.join(b, col("a.business_id") == col("b.business_id"), 'inner') \
             .select([col('a.'+xx) for xx in a.columns] + [col('b.business_name'),col('b.categories'),
                                                           col('b.stars'),col('b.review_count'),
                                                           col('b.latitude'),col('b.longitude')])

In [15]:
def getFriendRecoms(u_id, sim_bus_limit=10):
    
    query = """
    select business_id, count(*) as 4_5_stars_count 
    from review
    where user_id in
        (select f.friends from friends f
        inner join user u on f.friends = u.user_id
        where f.user_id = "{}") 
    and stars >= 4 
    and business_id not in (select business_id from review where user_id = "{}")
    group by business_id
    order by count(*) desc
    """.format(u_id, u_id)

    friend_recoms_df = sqlContext.sql(query)
    
    #friend_recoms_df = friend_recoms_df.sample(False, 0.5).limit(sim_bus_limit)

    return getBusinessDetails(friend_recoms_df)

In [16]:
# test recoms for a user

u_id = 'uxKSnOVAoEj4I6X9YhLBlg'

friend_recom_df = getFriendRecoms(u_id)

print("Businesses recommended to user by best useful friends:")
friend_recom_df.toPandas().head(20)

Businesses recommended to user by best useful friends:

,business_id,4_5_stars_count,business_name,categories,stars,review_count,latitude,longitude
0,SjgeuBlgKER9yegpoxT99w,7,Nomé Izakaya,"Tapas Bars, Japanese, Restaurants, Lounges, Ba...",4.0,512,43.762650,-79.411469
1,kOFDVcnj-8fd3doIpCQ06A,7,Mildred's Temple Kitchen,"Venues & Event Spaces, Event Planning & Servic...",4.0,706,43.639911,-79.420424
2,SGP1jf6k7spXkgwBlhiUVw,5,Kekou Gelato House,"Ice Cream & Frozen Yogurt, Food, Desserts, Caf...",4.5,411,43.655983,-79.392686
3,k6zmSLmYAquCpJGKNnTgSQ,5,The Stockyards,"American (Traditional), Barbeque, Restaurants,...",4.0,693,43.681346,-79.426147
4,0a2O150ytxrDjDzXNfRWkA,4,Miku,"Sushi Bars, Restaurants, Japanese, Seafood",4.0,604,43.641235,-79.377370
5,G6EkDTXZ6zMUovg7JTG4YQ,4,Vietnam Noodle Star,"Noodles, Restaurants, Vietnamese",3.5,183,43.804583,-79.287792
6,RwRNR4z3kY-4OsFqigY5sw,4,Uncle Tetsu's Japanese Cheesecake,"Bakeries, Japanese, Restaurants, Desserts, Food",3.5,939,43.655969,-79.384013
7,GcxE5hK_TaHP4EZFDYz2mg,3,Copacabana Brazilian Steakhouse,"Nightlife, Steakhouses, Bars, Restaurants, Bar...",3.5,275,43.648344,-79.387831
8,8I5U8OQ06nSxX2y4PPOWzQ,3,Japango,"Restaurants, Sushi Bars",3.5,643,43.655066,-79.385297
9,-J6FVdY9pSgAdFmmalO-pQ,3,Jatujak,"Food, Restaurants, Thai, Food Delivery Services",4.0,273,43.736087,-79.307939
10,_xAJZOKBMPOe47p1MphB2w,3,Fishman Lobster Clubhouse Restaurant,"Chinese, Restaurants, Live/Raw Food, Seafood",4.0,683,43.801976,-79.295159
11,crstB-H5rOfbXhV8pX0e6g,3,Ramen Isshin,"Ramen, Noodles, Tapas/Small Plates, Food, Japa...",4.5,493,43.656326,-79.406866
12,g1UVmCOhQDY7TGSZ2rRT_w,3,Congee Queen,"Chinese, Diners, Restaurants",3.5,161,43.783752,-79.292707
13,28adZ4lsuUeVB2aWzohK9g,3,Prohibition Gastrohouse,"Food, Bars, American (Traditional), Gastropubs...",3.5,277,43.658895,-79.350384
14,TR0-w6VoZDAdvFQiq7P2Ug,3,Millie Creperie,"Desserts, Food, Creperies, Restaurants, Japanese",4.0,350,43.654949,-79.399671
15,EzC51yOetmrju2DPP72iRA,3,Hakata Shoryuken,"Restaurants, Ramen, Japanese",3.5,210,43.773543,-79.413796
16,HUYEadSbGSQNHXFmT2Ujjw,3,Manpuku Japanese Eatery,"Japanese, Restaurants, Noodles",4.0,406,43.653665,-79.390880
17,_5izyrn1qV0uyec65UsdIA,3,Local Liberty Village,"Restaurants, Pubs, Tapas/Small Plates, Beer Ba...",4.0,243,43.638469,-79.419212
18,Yv4P4qUwd7F-qQ4Y4eD1JQ,3,Han Ba Tang,"Restaurants, Bars, Nightlife, Tapas/Small Plat...",3.5,256,43.762908,-79.411564
19,dTuT_G3Zp79RZmnF3oxfiA,3,The Bier Markt,"Restaurants, Gastropubs, Pubs, Food, Bars, Bee...",3.0,237,43.647095,-79.373915