In [1]:
!export PATH=/usr/lib/jvm/java-8-openjdk-amd64/jre/bin:/u3/cs451/packages/spark/bin:/u3/cs451/packages/hadoop/bin:/u3/cs451/packages/maven/bin:/u3/cs451/packages/scala/bin:$PATH
!export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre

In [2]:
import findspark
findspark.init('/u/cs451/packages/spark')

from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from operator import add
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.recommendation import ALS, ALSModel

from pyspark.sql import Row,SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
business_df = spark.read.parquet("Data/yelp_business.parquet")

business_df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- business_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_count: long (nullable = true)
 |-- categories: string (nullable = true)

In [5]:
review_df = spark.read.parquet("Data/yelp_review.parquet")

review_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- review_date: string (nullable = true)
 |-- review_text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- funny: long (nullable = true)
 |-- cool: long (nullable = true)

In [6]:
user_df = spark.read.parquet("Data/yelp_users.parquet")

user_df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- user_name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- fans: long (nullable = true)
 |-- average_stars: double (nullable = true)

In [7]:
# friends_df = spark.read.parquet("Data/yelp_friends.parquet")
# friends_df = friends_df.select(col("user_id"),trim(col("friends")))
# friends_df = friends_df.withColumnRenamed("trim(friends)","friends")
# friends_df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- friends: string (nullable = true)

In [7]:
# Create views
business_df.createOrReplaceTempView("businesse")
user_df.createOrReplaceTempView("user")
review_df.createOrReplaceTempView("review")
#friends_df.createOrReplaceTempView("friends")

In [8]:
# Check distict pairs of user_id and business_id
temp = spark.sql("SELECT DISTINCT user_id, business_id FROM review")
temp.count()

366474

In [9]:
review_df_date = spark.sql("SELECT * from review order by review_date")
review_count = review_df_date.count()
print(review_count)

376593

In [10]:
train_count = int(review_count*0.8)
test_count = review_count - train_count
print("Train Samples: ",train_count)
print("Test Samples: ",test_count)

Train Samples:  301274
Test Samples:  75319

In [11]:
train_df = review_df_date.limit(train_count)
train_df.count()

301274

In [12]:
test_df = review_df_date.orderBy(col("review_date"),ascending=False).limit(test_count)
test_df.count()

75319

In [13]:
train_df.createOrReplaceTempView("review_train")
test_df.createOrReplaceTempView("review_test")

In [15]:
# Remove 
# temp = spark.sql("SELECT * from review_test where (user_id,business_id) not in \
# (SELECT DISTINCT user_id, business_id from review_train) ")

In [14]:
test_df = spark.sql("SELECT review_test.* from review_test left join (SELECT DISTINCT user_id, business_id as train_bid from review_train) as rtrain \
on review_test.user_id = rtrain.user_id and review_test.business_id = rtrain.train_bid where rtrain.user_id IS NULL and rtrain.train_bid IS NULL ")

In [15]:
train_df.write.parquet("Data/review_train.parquet")
test_df.write.parquet("Data/review_test.parquet")

## Content Based Filtering

In [18]:
content_model_path="model/"

review_text = spark.sql("SELECT business_id, review_text FROM review")
review_text_rdd = review_text.rdd
review_by_business_rdd = review_text_rdd.map(tuple).reduceByKey(add)  
review_by_business_df = spark.createDataFrame(review_by_business_rdd)
review_by_business_df = review_by_business_df \
                            .withColumnRenamed('_1', 'business_id') \
                            .withColumnRenamed('_2', 'text')
review_by_business_df.count()

pipeline_mdl = PipelineModel.load(content_model_path + 'pipe_txt')
review_by_business_trf_df = pipeline_mdl.transform(review_by_business_df)

all_business_vecs = review_by_business_trf_df.select('business_id', 'word_vec').rdd.map(lambda x: (x[0], x[1])).collect()

def CosineSim(vec1, vec2): 
    return np.dot(vec1, vec2) / np.sqrt(np.dot(vec1, vec1)) / np.sqrt(np.dot(vec2, vec2))

def getSimilarBusinesses(b_ids, sim_bus_limit=10):
    
    schema = StructType([   
                            StructField("business_id", StringType(), True)
                            ,StructField("score", IntegerType(), True)
                            ,StructField("input_business_id", StringType(), True)
                        ])
    
    similar_businesses_df = spark.createDataFrame([], schema)
    
    for b_id in b_ids:
        
        input_vec = [(r[1]) for r in all_business_vecs if r[0] == b_id][0]
        #input_vec = reviews_by_business_trf_df.select('word_vec')\
                    #.filter(reviews_by_business_trf_df['business_id'] == b_id)\
                    #.collect()[0][0]

        similar_business_rdd = spark.sparkContext.parallelize((i[0], float(CosineSim(input_vec, i[1]))) for i in all_business_vecs)

        similar_business_df = spark.createDataFrame(similar_business_rdd) \
            .withColumnRenamed('_1', 'business_id') \
            .withColumnRenamed('_2', 'score') \
            .orderBy("score", ascending = False)
            
        similar_business_df = similar_business_df.filter(col("business_id") != b_id).limit(sim_bus_limit)
        similar_business_df = similar_business_df.withColumn('input_business_id', lit(b_id))
        
        similar_businesses_df = similar_businesses_df \
                                    .union(similar_business_df)
        
    
    return similar_businesses_df

def getBusinessDetails(in_bus):
    
    a = in_bus.alias("a")
    b = business_df.alias("b")
    
    return a.join(b, col("a.business_id") == col("b.business_id"), 'inner') \
             .select([col('a.'+xx) for xx in a.columns] + [col('b.business_name'),col('b.categories'),
                                                           col('b.stars'),col('b.review_count'),
                                                           col('b.latitude'),col('b.longitude')])

def getContentRecoms(u_id, sim_bus_limit=10):
    
    # select restaurants previously reviewed (3+) by the user
    query = """
    SELECT distinct business_id FROM review
    where stars >= 3.5 
    and user_id = "{}"
    """.format(u_id)
    sqlContext = SQLContext(spark.sparkContext)
    usr_rev_bus = sqlContext.sql(query)
    
    # from these get sample of 5 restaurants
    usr_rev_bus = usr_rev_bus.sample(False, 0.5).limit(5)

    usr_rev_bus_det = getBusinessDetails(usr_rev_bus)
    
    # show the sample details
    # print('\nBusinesses previously reviewed by user:')
    usr_rev_bus_det.select(['business_id', 'business_name', 'categories']).show(truncate = False)

    bus_list = [i.business_id for i in usr_rev_bus.collect()]

    # get restaurants similar to the sample
    sim_bus_df = getSimilarBusinesses(bus_list, sim_bus_limit)

    # filter out those have been reviewd before by the user
    s = sim_bus_df.alias("s")
    r = usr_rev_bus.alias("r")
    j = s.join(r, col("s.business_id") == col("r.business_id"), 'left_outer') \
         .where(col("r.business_id").isNull()) \
         .select([col('s.business_id'),col('s.score')])

    a = j.orderBy("score", ascending = False).limit(sim_bus_limit)

    return getBusinessDetails(a)

## Collaborative Filtering

In [19]:
collab_model_path = "ALS/"
sqlContext = SQLContext(spark.sparkContext)
user_newid_df = sqlContext.createDataFrame(user_df.rdd.map(lambda x: x[0]).zipWithIndex(), \
        StructType([StructField("user_id", StringType(), True),StructField("userId", IntegerType(), True)]))

a = user_df.alias("a")
b = user_newid_df.alias("b")
    
user_new_df = a.join(b, col("a.user_id") == col("b.user_id"), 'inner') \
             .select([col('a.'+xx) for xx in a.columns] + [col('b.userId')])

# create a new businessId column (integer)
business_newid_df = sqlContext.createDataFrame(business_df.rdd.map(lambda x: x[0]).zipWithIndex(), \
        StructType([StructField("business_id", StringType(), True),StructField("businessId", IntegerType(), True)]))

# add the new businessId column the business dataframe
a = business_df.alias("a")
b = business_newid_df.alias("b")
    
business_new_df = a.join(b, col("a.business_id") == col("b.business_id"), 'inner') \
             .select([col('a.'+xx) for xx in a.columns] + [col('b.businessId')])

# # map new userId and businessId in the review dataframe
# review_df = review_df.select('user_id', 'business_id', 'stars')

# # map the userId
# a = review_df.alias("a")
# b = user_newid_df.alias("b")
# review_userId_df = a.join(b, col("a.user_id") == col("b.user_id"), 'inner').select([col('a.'+xx) for xx in a.columns] + [col('b.userId')])

# # map the businessId
# a = review_userId_df.alias("a")
# b = business_df.alias("b")
# review_userId_businessId_df = a.join(b, col("a.business_id") == col("b.business_id"), 'inner').select([col('a.'+xx) for xx in a.columns])

# # Get the rdd from the business_newid_df
# bn_rdd = business_newid_df.rdd.map(lambda row: (row[0], row[1])).collectAsMap()

# # Create Broadcast variable from bn_rdd
# bn_brodcast = spark.sparkContext.broadcast(bn_rdd)

# # Join the Review_user_business_df with the business_df using broadcast
# rub_rdd = review_userId_businessId_df.rdd.map(lambda row: (row[0],row[1],row[2],row[3],bn_brodcast.value[row[1]]))

# # Create Dataframe from the rdd
# review_userId_businessId_df = sqlContext.createDataFrame(rub_rdd,
#                                     StructType([StructField("user_id", StringType(), True),
#                                                 StructField("business_id", StringType(), True),
#                                                 StructField("stars", DoubleType(), True),
#                                                 StructField("userId", IntegerType(), True),
#                                                 StructField("businessId", IntegerType(), True)]))

# # create the rating dataframe required by the ALS model
# rating_df = review_userId_businessId_df.select('userId', 'businessId', review_userId_businessId_df.stars.cast('float').alias('rating'))

# load a new instance of the saved ALS model
alsn_model = ALSModel.load(collab_model_path + 'alsb')

# generate top 10 business recommendations for each user
userRecoms = alsn_model.recommendForAllUsers(10)

# add the column user_id, cache the recommendaton dataframe and show recommedations sample

a = userRecoms.alias("a")
b = user_newid_df.alias("b")
all_userRecoms = a.join(b, col("a.userId") == col("b.userId"), 'inner') \
             .select([col('a.'+xx) for xx in a.columns] + [col('b.user_id')])

def getCollabRecom(u_id):
    
    userFlatRec =  sqlContext.createDataFrame(all_userRecoms.filter(col('user_id') == u_id).rdd.flatMap(lambda p: p[1]))

    a = userFlatRec.alias("a")
    b = business_new_df.alias("b")
    
    return a.join(b, col("a.businessId") == col("b.businessId"), 'inner') \
             .select([col('b.business_id'), col('a.rating'), col('b.business_name'),col('b.categories'),
                                                           col('b.stars'),col('b.review_count'),
                                                           col('b.latitude'),col('b.longitude')]) \
             .orderBy("rating", ascending = False)

## Friends Recomendations

In [20]:
def getFriendRecoms(u_id, sim_bus_limit=10):
    
    query = """
    select business_id, count(*) as 4_5_stars_count 
    from review
    where user_id in
        (select f.friends from friends f
        inner join user u on f.friends = u.user_id
        where f.user_id = "{}") 
    and stars >= 4 
    and business_id not in (select business_id from review where user_id = "{}")
    group by business_id
    order by count(*) desc
    """.format(u_id, u_id)

    friend_recoms_df = sqlContext.sql(query)
    
    # friend_recoms_df = friend_recoms_df.sample(False, 0.5).limit(sim_bus_limit)

    return getBusinessDetails(friend_recoms_df)

In [21]:
u_id = 'Wc5L6iuvSNF5WGBlqIO8nw'

In [22]:
content_recom_df = getContentRecoms(u_id)
content_recom_df.toPandas().head(20)

+----------------------+----------------------------+--------------------------------------------------------------------------------------------------+
|business_id           |business_name               |categories                                                                                        |
+----------------------+----------------------------+--------------------------------------------------------------------------------------------------+
|9jYnZymuaW-XpMIS75YxgQ|The Beaver                  |Bars, American (New), Canadian (New), Cafes, Restaurants, Diners, Nightlife, Gay Bars             |
|J4_q5iMukg-UnnLnT6ZwAA|Northern Belle              |Nightlife, Food, Bars, Restaurants, Coffee & Tea, Cafes, Cocktail Bars                            |
|F_oPMHJrH42R67xp5eKtQA|Yummy Korean Food Restaurant|Korean, Restaurants                                                                               |
|xwmwTpzw9XSwK-UT5Ka3HQ|Bellwoods Brewery           |Canadian (New), Breweries, Food, Restaurants                                                      |
|JmZj7wzAJ7_4ksjG9WXdqw|Gladstone Hotel             |Hotels & Travel, Hotels, Karaoke, Restaurants, Nightlife, Lounges, Bars, Event Planning & Services|
+----------------------+----------------------------+--------------------------------------------------------------------------------------------------+

,business_id,score,business_name,categories,stars,review_count,latitude,longitude
0,uChTCA6MsLAciDRklpO-Fw,0.976159,Makkal Chon,"Restaurants, Greek, Korean",4.0,275,43.744641,-79.296277
1,JtrBa5-T6QLXv3y5_ACTkg,0.975671,Doo Roo Ae,"Restaurants, Korean",4.0,52,43.664074,-79.415611
2,ZCrK07xb6w5Vi1vathV0NQ,0.978606,Bapbo Korean Restaurant,"Korean, Japanese, Restaurants",3.0,124,43.655573,-79.384943
3,hWaptsAiWkxqCX9SFfJDkg,0.978762,BIWON,"Restaurants, Korean",3.0,72,43.652998,-79.396783
4,gd-fV04gMKMz724XM32xQA,0.981712,Bandit Brewery,"Brewpubs, Food, Restaurants, Breakfast & Brunc...",3.5,82,43.652485,-79.449621
5,rO3lZpVSoRMhhd0AEJBjlg,0.988750,Sunrise House,"Restaurants, Korean",4.0,182,43.664068,-79.415668
6,d3olNIBeuH4Eeqc3mkX8LA,0.975217,Seoul Restaurant,"Restaurants, Asian Fusion, Korean",4.0,70,43.664416,-79.414042
7,rhyjGfqYlCJoi8Zeulg6QA,0.987929,Kimchi Korea House,"Restaurants, Korean",3.5,231,43.655256,-79.385475
8,_MA98TVmvVIy-XdI0poc7w,0.982398,Mom's Korean Food,"Korean, Restaurants",3.0,89,43.664706,-79.413836
9,SNkkuchbVtUzCwyENcai_g,0.980332,Danji,"Japanese, Chinese, Korean, Restaurants",3.5,59,43.665300,-79.384899

In [23]:
collab_recom_df = getCollabRecom(u_id)
collab_recom_df.toPandas()

,business_id,rating,business_name,categories,stars,review_count,latitude,longitude
0,otsjAjxf0PNQ99xcmuj_LA,5.512009,Sushi Making For the Soul,"Japanese, Education, Restaurants, Local Flavor",4.5,3,43.656233,-79.392319
1,IM6pHgP2ewa6xhnDk6s2_g,5.438185,Mikaku Izakaya,"Japanese, Restaurants",4.5,3,43.793327,-79.419321
2,v_OLzcpFA7vgVp30vxv2uQ,5.395602,Silver Spoon,"Restaurants, American (New), Canadian (New)",5.0,4,43.650883,-79.450832
3,PT6tAoQxtCqsGc7r4nEXLQ,5.320897,Trinity Square Cafe,"Restaurants, Cafes",5.0,6,43.654877,-79.381470
4,fCZU04T_8lUdXX2aBYisEA,5.308662,Freshii,"Breakfast & Brunch, Specialty Food, Health Mar...",4.5,3,43.659574,-79.381027
5,Hn-bPW6z63BjA4XBAFsVgw,5.273860,Sugar Miracles,"Restaurants, Patisserie/Cake Shop, Chocolatier...",5.0,4,43.716805,-79.400696
6,bumAFxitMRHKAxZMijvUYg,5.267640,Cuisine of India,"Caterers, Event Planning & Services, Restauran...",5.0,3,43.782522,-79.474959
7,STukQhp01a__zTsHMBiyow,5.254052,East of York Gourmet Food,"Restaurants, Food, Indian, Cafes, Vegetarian, ...",5.0,23,43.685012,-79.316586
8,LIjlU7K-0SPXPtYFQiXamQ,5.217399,Magic Oven,"Food Stands, Restaurants, Sandwiches, Indian",5.0,3,43.652294,-79.405521
9,sGl_RLXLtSPx5kzMUFz11Q,5.179796,Alimentari Italian Grocery,"Food, Italian, Specialty Food, Restaurants",5.0,5,43.648805,-79.449725

In [24]:
friends_recom_df = getFriendRecoms(u_id)
friends_recom_df.toPandas()

,business_id,4_5_stars_count,business_name,categories,stars,review_count,latitude,longitude
0,r_BrIgzYcwo1NAuG9dLbpg,33,Pai Northern Thai Kitchen,"Restaurants, Food, Thai, Ethnic Food, Specialt...",4.5,2121,43.647866,-79.388642
1,RtUvSWO_UZ8V3Wpj0n077w,31,KINKA IZAKAYA ORIGINAL,"Bars, Restaurants, Japanese, Tapas/Small Plate...",4.0,1397,43.660430,-79.378927
2,nT16Y6AsJDwEpUB1JICKzg,28,St Lawrence Market,"Farmers Market, Restaurants, Grocery, Sandwich...",4.5,496,43.648730,-79.371541
3,N93EYZy9R0sdlEvubu94ig,28,Banh Mi Boys,"Sandwiches, Restaurants, Asian Fusion, Food, D...",4.5,1045,43.648827,-79.396970
4,7oEKIG7d1ttPRejppZ3WIA,20,Lady Marmalade,"Italian, Restaurants, Mexican, Breakfast & Brunch",4.0,456,43.660517,-79.343112
5,iGEvDk6hsizigmXhDKs2Vg,20,Seven Lives Tacos Y Mariscos,"Seafood, Restaurants, Mexican",4.5,1152,43.654341,-79.400480
6,aLcFhMe6DDJ430zelCpd2A,20,Khao San Road,"Thai, Restaurants",4.0,1410,43.646411,-79.393480
7,f5O7v_X_jCg2itqacRfxhg,19,Sansotei Ramen,"Restaurants, Ramen, Japanese, Noodles",4.0,794,43.655004,-79.386473
8,h_4dPV9M9aYaBliH1Eoeeg,18,Wvrst,"Nightlife, Pubs, Bars, Restaurants, Canadian (...",4.0,711,43.644186,-79.401015
9,dc3uoAmNo5STqKV6mlD_aA,18,The Drake Hotel,"Hotels, Restaurants, Event Planning & Services...",3.5,354,43.643205,-79.424638
10,pfpOi3Q-Yap72z2bLKdWPQ,17,Drake's Corner Café + Bistro,"Restaurants, Ice Cream & Frozen Yogurt, Americ...",3.5,99,43.643205,-79.424638
11,nHFJtud7jWZhM9dHQ1eIRA,17,Buk Chang Dong Soon Tofu,"Korean, Restaurants",4.0,420,43.663589,-79.416958
12,HkHTdTvzbn-bmeQv_-2u0Q,15,Bannock,"American (New), Restaurants, Pizza, Canadian (...",4.0,488,43.651627,-79.380745
13,pZ1quwXnYozLIZIVABojhw,15,Black Hoof,"Bars, Nightlife, Champagne Bars, Gastropubs, R...",4.0,465,43.650978,-79.413280
14,ttuEwktrkmh3TUlSFPZqAA,15,Banh Mi Boys,"Restaurants, Vietnamese, Asian Fusion",4.0,444,43.659097,-79.382078
15,k6zmSLmYAquCpJGKNnTgSQ,15,The Stockyards,"American (Traditional), Barbeque, Restaurants,...",4.0,693,43.681346,-79.426147
16,O-uIEuv7JLUHajkemx_sVw,15,Beerbistro,"Restaurants, Bistros, Bars, Beer Bar, Pubs, Ni...",4.0,596,43.649817,-79.377147
17,DE89UdHFMCN6DtYWZuer5A,15,Hokkaido Ramen Santouka,"Japanese, Restaurants, Noodles, Ramen",4.0,750,43.656322,-79.377500
18,kOFDVcnj-8fd3doIpCQ06A,14,Mildred's Temple Kitchen,"Venues & Event Spaces, Event Planning & Servic...",4.0,706,43.639911,-79.420424
19,oWTn2IzrprsRkPfULtjZtQ,14,The Burger's Priest,"Restaurants, Burgers",3.5,435,43.666672,-79.315607
20,8I5U8OQ06nSxX2y4PPOWzQ,13,Japango,"Restaurants, Sushi Bars",3.5,643,43.655066,-79.385297
21,B70iTJjcPkuYn8ouUewWgw,13,Gusto 101,"Italian, Restaurants",4.0,836,43.645002,-79.400309
22,nu-DHeDtxnOW5vYj93dGPQ,13,The Lakeview,"Restaurants, Canadian (New), Diners, American ...",3.5,382,43.649591,-79.420385
23,JMiaNitMzMbJm6Kh0RbT5A,13,Canoe,"American (New), Restaurants, Canadian (New)",4.0,610,43.646954,-79.382159
24,4twpbw7n4DmsLxAm6-sMkg,13,Seor Ak San,"Restaurants, Korean",4.0,269,43.655584,-79.398538
25,_l3nxDFpmLUMxCQrz1LfBQ,13,Early Bird Coffee & Kitchen,"Food, Coffee & Tea, Breakfast & Brunch, Nightl...",4.0,212,43.647257,-79.402564
26,e41TP5cXZqSrz50xCBJqZw,13,Insomnia Restaurant & Lounge,"French, Bars, Caterers, Canadian (New), Breakf...",4.0,795,43.665131,-79.410852
27,b4LmLgVdbhM-nc1IZc5Weg,13,Rodney's Oyster House,"Seafood, Restaurants",4.0,336,43.644948,-79.396846
28,-chGaXHZsoLKLHPJMMsdmw,12,Utopia Café & Grill,"Vegetarian, Tex-Mex, Restaurants, Burgers",3.5,238,43.655429,-79.413506
29,28adZ4lsuUeVB2aWzohK9g,12,Prohibition Gastrohouse,"Food, Bars, American (Traditional), Gastropubs...",3.5,277,43.658895,-79.350384
...,...,...,...,...,...,...,...,...
2433,V1FSee0pZ-yReDQ28SAO3g,1,White Lily Diner,"Breakfast & Brunch, Diners, Restaurants",4.5,84,43.658812,-79.351177
2434,SLH_6FIjptg5BEJbYNld6w,1,Oja Noodles House,"Ethnic Food, Imported Food, Food, Chinese, Jap...",3.5,94,43.668993,-79.385969
2435,DeXwyJFF1ubjyQH7zXPxCg,1,Loka,"Nightlife, Canadian (New), Restaurants, Food, ...",4.0,46,43.647107,-79.405513
2436,k5jh4JYOr3mEJ3UqmhROmw,1,Colborne Lane,"Asian Fusion, Restaurants",3.5,29,43.648996,-79.375032
2437,C16ogi6ASv-sQW3SGScmNQ,1,Tutti Matti Restaurant,"Nightlife, Bars, Wine Bars, Beer Bar, Restaura...",3.5,83,43.647398,-79.393927
2438,dvOW0RTqmwQTB_ZmNm2Wag,1,Smash Ping Pong Lounge,"Active Life, Lounges, Event Planning & Service...",4.0,20,43.658858,-79.351374
2439,LAqGKns1zklhNF-tbbSCEQ,1,Burdock,"Music Venues, Nightlife, Arts & Entertainment,...",3.5,61,43.659487,-79.437867
2440,Gl6xFX8vM5dqknF9azPCMQ,1,The Keg Steakhouse + Bar - Esplanade,"Nightlife, Restaurants, Bars, Seafood, Steakho...",4.0,112,43.646644,-79.374950
2441,NFaVXGofY855SyGs6D3_-Q,1,Tosto Quickfire Pizza Pasta,"Pizza, Italian, Sandwiches, Salad, Restaurants",3.5,29,43.647681,-79.396736
2442,GtO_zfsrgShKG7KW6zahSg,1,B&B Fish And Chips,"Fish & Chips, Fast Food, Restaurants",3.0,26,43.662294,-79.335420
2443,a_HejZvHvG2IM7ri1CnlYA,1,Paisano,"Pizza, Italian, Restaurants",3.0,37,43.754172,-79.349513
2444,9YXlC5iEl9RvgYxO4SDKhQ,1,Archtop Cafe,"Restaurants, Cafes, Shopping, Vinyl Records, B...",4.0,10,43.650503,-79.479841
2445,LTnVQ0cIUGUa7foCqrJ27g,1,Gong Cha Tea,"Cafes, Restaurants, Food, Tea Rooms",3.5,72,43.777294,-79.414627
2446,V65Ffj_EDwOn75WcknbUdg,1,Amaya Express,"Indian, Restaurants",2.5,45,43.725686,-79.450441
2447,DYkC6U-wa5gtwMFOV0EBYg,1,Pita Land,"Mediterranean, Restaurants, Sandwiches, Greek,...",3.5,44,43.660368,-79.377009
2448,zm7e0hmW4aPvoRsAdqqEyA,1,Milestones Restaurants,"Comfort Food, Restaurants, American (New), Can...",3.0,50,43.726087,-79.453974
2449,WHuqmRmjFdXl542DhIeVDw,1,Tropical Palms,"Caribbean, Restaurants",4.0,5,43.667535,-79.385662
2450,pdxD8dFqMImWmeBMU42wmg,1,Sorrel,"Restaurants, French, Mediterranean",4.0,16,43.680219,-79.391085
2451,dsAcgF6qtZy2m6d_yWCrGQ,1,Pizzeria Via Mercanti,"Pizza, Restaurants",3.5,59,43.656786,-79.386709
2452,UWXggIA0t4Pp_xc57niKTg,1,Queen Star Restaurant,"Restaurants, American (New), Canadian (New), B...",3.5,18,43.643473,-79.423324
2453,sjxNnjKwWn7H6QcsAhhXww,1,Mii Sandwich Co.,"Restaurants, Sandwiches, Fast Food, Vietnamese",3.0,42,43.726153,-79.451764
2454,wpbKGlRAc41Oxh7qFXqO1A,1,Bugigattolo,"Restaurants, Italian",4.0,24,43.636523,-79.423693
2455,fZDNuuFSnCtcXI3_RAFcSQ,1,Ozzy's Burgers,"Restaurants, Poutineries, Burgers, Sandwiches,...",4.0,77,43.655265,-79.402620
2456,S8H-VShWsIUqyPoqI5Rvbw,1,Zupa's Restaurant & Deli,"Restaurants, Sandwiches, Delis",3.0,22,43.647387,-79.393122
2457,I57O9xjahLTtx22El93f4g,1,Arepa Market,"Gluten-Free, Latin American, Sandwiches, Resta...",4.0,5,43.654787,-79.402137
2458,fe6YW5wLAeWQBATPf494DQ,1,Music Garden Cafe,"Coffee & Tea, Food, Cafes, Restaurants, Desserts",4.0,33,43.637665,-79.393107
2459,rZY8wtc4EyC_8o1mI2-_1A,1,Bajra Indian & Hakka Chinese Cuisine,"Restaurants, Indian, Chinese",5.0,9,43.752368,-79.536897
2460,NzmJJvTEotNCEduQUcIwBg,1,Starbucks,"Restaurants, Food, Coffee & Tea, Cafes",3.0,5,43.686105,-79.392926
2461,hrrPxT846kLGs7ehEtLmRg,1,Salt and Tobacco,"Restaurants, Pizza",4.5,36,43.665364,-79.368170
2462,CJEh1U0g2A01kjJxikkjIg,1,Winchester Kitchen & Bar,"Wine Bars, Arts & Entertainment, Music Venues,...",4.0,9,43.666304,-79.367963

In [25]:
df = content_recom_df.limit(4).union(collab_recom_df.limit(4)).union(friends_recom_df.limit(2))

In [26]:
df.toPandas()

,business_id,score,business_name,categories,stars,review_count,latitude,longitude
0,uChTCA6MsLAciDRklpO-Fw,0.976159,Makkal Chon,"Restaurants, Greek, Korean",4.0,275,43.744641,-79.296277
1,JtrBa5-T6QLXv3y5_ACTkg,0.975671,Doo Roo Ae,"Restaurants, Korean",4.0,52,43.664074,-79.415611
2,ZCrK07xb6w5Vi1vathV0NQ,0.978606,Bapbo Korean Restaurant,"Korean, Japanese, Restaurants",3.0,124,43.655573,-79.384943
3,hWaptsAiWkxqCX9SFfJDkg,0.978762,BIWON,"Restaurants, Korean",3.0,72,43.652998,-79.396783
4,otsjAjxf0PNQ99xcmuj_LA,5.512009,Sushi Making For the Soul,"Japanese, Education, Restaurants, Local Flavor",4.5,3,43.656233,-79.392319
5,IM6pHgP2ewa6xhnDk6s2_g,5.438185,Mikaku Izakaya,"Japanese, Restaurants",4.5,3,43.793327,-79.419321
6,v_OLzcpFA7vgVp30vxv2uQ,5.395602,Silver Spoon,"Restaurants, American (New), Canadian (New)",5.0,4,43.650883,-79.450832
7,PT6tAoQxtCqsGc7r4nEXLQ,5.320897,Trinity Square Cafe,"Restaurants, Cafes",5.0,6,43.654877,-79.381470
8,r_BrIgzYcwo1NAuG9dLbpg,33.000000,Pai Northern Thai Kitchen,"Restaurants, Food, Thai, Ethnic Food, Specialt...",4.5,2121,43.647866,-79.388642
9,RtUvSWO_UZ8V3Wpj0n077w,31.000000,KINKA IZAKAYA ORIGINAL,"Bars, Restaurants, Japanese, Tapas/Small Plate...",4.0,1397,43.660430,-79.378927

In [27]:
# content_recom_df.toPandas()
# collab_recom_df.toPandas()
# friends_recom_df.toPandas()